on:
  schedule:
    - cron: 0 */12 * * *

name: Update

jobs:
  updateDataAndRelease:
    name: Update data and release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6.0.1
      - name: Chmod
        run: chmod +x ./autoupdater.sh
      - name: Update
        run: npm run update
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
